body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
.question {
  width: 50vw;
  padding-top: 18.5px;
  padding-bottom: 12.5px;
  margin: auto;
  height: 33px;
  text-align: center;
  background-color: white;
  color: #0F1425;
  text-align: left;
  font-size: 27px;
  padding-left: 40px;
}

.icon {
  float: right;
  margin-right: 30px;
}
.icon:hover {
  cursor: pointer;
}
/* .fas {
  user-select: none;
} */
.faq-content {
  margin-bottom: 10px;
}
.faq {
  text-align: center;
  background-color: white;
  border-top: 6px solid #0F1425;
  padding-bottom: 120px;
  font-family:Arial, Helvetica, sans-serif;
}
.answer {
  display: none;
  width: 50vw;
  padding-top: 18.5px;
  margin: auto;
  padding-bottom: 18.5px;
  height: 100%;
  background-color: white;
  color: grey;
  text-align: left;
  font-size: 27px;
  padding-left: 40px;
  line-height: 30px;
}

@media only screen and (max-width: 768px) {
  .faq {
    padding: 0px 30px 0px;
  }
}

.faq h3 {
  font-size: 30px;
  color: #0F1425;
  font-family: monospace;
  width: max-content;
  margin: auto;
}
