.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #0f1425;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .tsbutton a{font-size: 25px;}
  }
  .nav-mobile{
      display: none;
  }
  
  @media screen and (max-width: 1300px){
      .s_logo{
          width: 90vw;
          float: none;
      }
      .menu_block{
          width: 100vw;
          float: none;
      }

      header{
          padding-bottom: 30px;
      }
      
  }
  @media screen and (max-width: 770px){
    .menu_block{
        display: none;
    }
    .menu-icon{
        width: 10vw;
        float: right;
        margin-top: 30px;
    }
    .nav-mobile{
        display: contents;
        font-size: 10px;
    }
    .s_logo{
        width: 90vw;
        float: left;
        margin: 0px;
    }
}
.registration{
  width: 50vw;
  padding: 5px 10px 5px 10px;
  overflow: hidden;
  border: 1px solid #888888;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;

}
.registration p {
  width: max-content;
  float: left;
  color: black;
  font-size: 22px;
  line-height: 40px;
  padding-top: 5px;
  margin: 0px;
}
.reg-btn{
  padding: 10px 20px 10px 20px;
  float: right;
  background-color: black;
  color: white;
  font-size: 20px;
}